.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

#inputHeaders{
	font-size: 1.3rem !important;
}

.datePickerContainer{
	border: solid grey 2px;
}

.innerContainer{
	margin-left: 200%;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}

#calculateContainer .bx--text-input__field-wrapper{
	display: contents;
}

.inputTexts{
	margin-top: 1em;
}

.fieldName{

}

.innerContainerTwo{
	text-align: center;
	border: solid grey 2px;
	margin-left: .07em;
	padding-right: 1em;
	width: 33.3em;
	height: 27em;
}

#inputHeader2{
	font-size: 1rem !important;
    text-align: center;
    margin-top: .75em;
}

#calcBMI{
	margin-top: 2.5em;
	margin-bottom: .5em;
}

#calsBurnedBtn{
	margin-left: 3.5em;
	margin-top: 1.5em;
}

#statContainer{
	display: inline-flex;
}

#aerobicCalsBurnedBtn{
	margin-left: 3.5em;
	margin-top: 1.5em;
}

#calculateContainer{
	height: 21em;
}

#addToCalendar{
	margin-left: 41.2%;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 18em;
}
